h1, h2 {
    color: blue;
  }
  
  
  p {
    color: black;
  }
  
  ul {
    border: 15px solid green;
  }
  
  ol {
    border: 15px solid red;
  }
  
  ol, ul {
    padding: 5px 20px;
    border-radius: 10px;
  }
      
  h1, strong {
    color: cyan;
  }
  
  em {
    color: gray;
  }
     